<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAMapKit-3D-Demo-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MAMapKit_3D_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19D2EEC91D59C2920039B22A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6FD94AD1D9BC41D00E7A2DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6FD94C01D9BC41D00E7A2DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6FD94CB1D9BC41D00E7A2DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
